* {
  margin: 0px;
  padding: 0px;
  font-family: "Ubuntu Mono", monospace;
}

body {
  height: 100vh;
  position: relative;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 45vh;
  background-position: center;
  background-size: cover;
  position: relative;
}
header .header-img {
  background-image: url(../img/foodmitho.jpg);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -2;
  background-position: center;
}
header .header-one {
  font-size: 60px;
  color: rgb(254, 254, 254);
}
header .header-two {
  font-size: 40px;
  color: rgb(102, 41, 61);
}

.navbar {
  display: flex;
  justify-content: center;
  background-color: rgb(139, 128, 128);
  z-index: 100;
}
.navbar a {
  padding: 20px;
  text-decoration: none;
  color: white;
}
.navbar a:hover {
  background-color: red;
}

.main-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  bottom: 180px;
  width: 100vw;
  height: 63vh;
}
.main-page .welcome {
  font-size: 30px;
  padding: 20px;
}
.main-page .welcome .welcome-span {
  color: royalblue;
}
.main-page .order-btn {
  margin-left: 170px;
  padding: 5px;
  background-color: yellow;
  border-radius: 20px;
  border: 1px solid black;
}
.main-page .order-btn:hover {
  background-color: red;
}

.main-page::before {
  content: "";
  background: url(../img/salad-g64dfbe0f6_1920.jpg) no-repeat;
  width: 100vw;
  height: 61vh;
  position: absolute;
  top: 180px;
  left: 0px;
  font-family: "Ubuntu Mono", monospace;
  margin-right: 45px;
  font-weight: bold;
  z-index: -10;
  opacity: 0.89;
  border: 2px solid black;
  border-bottom-left-radius: 100px;
}

.offert {
  display: flex;
  justify-content: space-evenly;
}
.offert .prices {
  position: relative;
  top: 280px;
  right: 350px;
}
.offert .btn-prices {
  padding: 5px;
  background-color: yellow;
  border-radius: 20px;
  border: 1px solid black;
  text-transform: uppercase;
  font-weight: bold;
}
.offert .btn-prices:hover {
  background-color: red;
}
.offert .specials {
  position: relative;
  top: 280px;
  left: 300px;
}
.offert .btn-specials {
  padding: 5px;
  position: relative;
  background-color: yellow;
  border: 1px solid black;
  border-radius: 20px;
  text-transform: uppercase;
  font-weight: bold;
  z-index: 102;
}
.offert .prices::before {
  content: "";
  background: url(../img/restaurant-g9604b9fa8_640.png);
  position: absolute;
  bottom: -10px;
  left: -300px;
  width: 29vw;
  height: 50vh;
  z-index: -1;
  border-radius: 40px;
}
.offert .specials::before {
  content: "";
  background: url(../img/asparagus-g8ca3c824d_640.jpg);
  position: absolute;
  width: 32vw;
  height: 25vw;
  right: -220px;
  top: -320px;
  transform: scale(0.5);
  border-radius: 40%;
  border: 1px solid black;
  z-index: -1;
}

.products {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

.featured-products {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}
.featured-products .order-one {
  background: url(../img/pizza-g0025bbbe0_640.jpg);
  width: 25vw;
  height: 23vw;
  position: relative;
  right: 80px;
  border-radius: 20px;
  z-index: 10;
  border: 1px solid black;
  box-shadow: 0 0 40px #000;
}
.featured-products .order-one .btn {
  padding: 5px;
  border-radius: 20px;
  background-color: yellow;
  z-index: 10;
}
.featured-products .order-one .order-btn-one {
  position: absolute;
  top: 340px;
  left: 200px;
  z-index: -10;
}
.featured-products .order-one:hover {
  transform: scale(1.2);
  transition: 0.3s linear;
}
.featured-products .order-two {
  background: url(../img/chicken-g2c1b0e266_640.jpg);
  width: 30vw;
  height: 23vw;
  position: relative;
  right: 40px;
  border-radius: 20px;
  border: 1px solid black;
  box-shadow: 0 0 40px #000;
}
.featured-products .order-two .order-btn-two {
  position: absolute;
  top: 340px;
  left: 200px;
}
.featured-products .order-two .btn {
  padding: 5px;
  border-radius: 20px;
  background-color: yellow;
  z-index: 2;
}
.featured-products .order-two:hover {
  transform: scale(1.2);
  transition: 0.3s linear;
}
.featured-products .order-three {
  background: url(../img/asparagus-g8ca3c824d_640.jpg);
  width: 25vw;
  height: 23vw;
  position: relative;
  border-radius: 20px;
  border: 1px solid black;
  box-shadow: 0 0 40px #000;
}
.featured-products .order-three .order-btn-three {
  position: absolute;
  top: 340px;
  left: 180px;
}
.featured-products .order-three .btn {
  padding: 5px;
  border-radius: 20px;
  background-color: yellow;
  z-index: 2;
}

.order-three:hover {
  transform: scale(1.2);
  transition: 0.3s linear;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-size: 30px;
}
.contact .contact-form-btn {
  padding: 15px;
  border-radius: 20px;
  position: relative;
  left: 120px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: blue;
  color: white;
}
.contact .contact-form-btn:hover {
  background-color: tomato;
}/*# sourceMappingURL=main.css.map */